<ion-view title="Customizable Food">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
<br>
            <ion-item class="item-thumbnail-left" ui-sref="pizza" >
                <img src="img/pizza.png">
                <h2>Pizza</h2>

            </ion-item>
<br>
            <ion-item class="item-thumbnail-left" ui-sref="submarine">
                <img src="img/submarine.jpg">
                <h2>Submarine</h2>

            </ion-item>
			<br>
            <ion-item class="item-thumbnail-left" ui-sref="pasta">
                <img src="img/pasta.jpg">
                <h2>Pasta</h2>

            </ion-item>
<br>
        </ion-list>
    </ion-content>
</ion-view>