<ion-view title="Edit Profile">
  <ion-nav-buttons side="right">
      <button class="button button-outline button-assertive">Edit</button>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <form class="list">
            <ion-item class="item-divider">Login &amp; General Information</ion-item>
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
                <input type="tel" placeholder="Phone Number">
            </label>
            <ion-item class="item-divider">Optional Information</ion-item>
            <label class="item item-select">
                <span class="input-label">Gender</span>
                <select>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Select</option>
                </select>
            </label>
            <label class="item item-input">
                <input type="email" placeholder="E-Mail">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Location">
            </label>
        </form>
        <div class="button-bar">
            <button class="button button-stable button-block  icon-left ion-android-create">Edit</button>
            <button class="button button-stable button-block  icon-left ion-android-done">Save</button>
        </div>
    </ion-content>
</ion-view>
