<ion-view title="Feedback">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <div class="card"><div class="item item-text-wrap"><p>Your feedback is important to us, please send us any complaints, suggestions and ideas you have that could help us improve</p></div></div>
        </div>
        <div class="spacer" style="width: 283px; height: 3px;"></div>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select Option</span>
                <select>
                    <option>Order inquiry</option>
                    <option>Complaints</option>
                    <option>Appreciation</option>
                    <option>Suggestion</option>
                </select>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Enter feedback here">
            </label>
        </form>
        <button class="button button-assertive button-block button-outline icon-right ion-android-checkbox-outline">Submit feedback</button>
        <form class="list"></form>
    </ion-content>
</ion-view>