<ion-view title="Categories">
 

    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="menuListCtrl">
<label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        <ion-list ng-repeat="employee in employees">
            
            <ion-item class="item item-thumbnail-left" href="#/side-menu21/page4/{{employee.Catid}}">
                <img src="{{employee.CatImg}}">
                <h2>{{employee.itemname}}</h2>
                <p></p>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>
