<ion-view title="Past Orders">
 
 <ion-nav-buttons side="right" >
        
      <div ng-controller="getDetail">

     	<input  id="MobileID" ng-model="umobile"{{umobile}} hidden>
     	
    	<input  id="getDate" ng-model="date | date:'yyyy-MM-dd'"{{date | date:'yyyy-MM-dd'}} hidden>
     	<input  id="TBLid" ng-model="tableid" value="2" hidden>
     </div>

      <!-- <button class="button button-assertive ion-android-cart"></button> -->
     
   
  </ion-nav-buttons>
   
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="pastOrders" ng-init="getum()">
<label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        <ion-list ng-repeat="order in pastOrdersss">
            
            <ion-item class="item item-thumbnail-left">
                <!-- <img src="{{food.img}}"> -->
                <h2 ng-model="foodname">{{order.foodname}}</h2>
                <p ></p>
                 <div class="item-icon-right">
                 <!-- <i class="icon ion-ios-cart" ng-click="addorder({{food.name}},date, tableid, umobile)"><h3>Order</h3></i> -->
                 <button class="button button-assertive ion-android-cart" ng-click="addorder(order.foodname)"></button>
                 </div>
                <!-- <p>Category ID == {{food.Catid}}</p> -->
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>
